[project]
	description = Feeble attempt at trying to implement JPA
[access "refs/*"]
	owner = group user/Daniel Sundberg (dansun)
[access "refs/for/refs/*"]
	read = group user/Daniel Sundberg (dansun)
	push = group user/Daniel Sundberg (dansun)
	label-Code-Review = -2..+2 group user/Daniel Sundberg (dansun)
	label-Verified = -1..+1 group user/Daniel Sundberg (dansun)
	rebase = group user/Daniel Sundberg (dansun)
	removeReviewer = group user/Daniel Sundberg (dansun)
	submit = group user/Daniel Sundberg (dansun)
[access "refs/heads/*"]
	read = group user/Daniel Sundberg (dansun)
	create = group user/Daniel Sundberg (dansun)
	push = +force group user/Daniel Sundberg (dansun)
	pushMerge = group user/Daniel Sundberg (dansun)
[access "refs/tags/*"]
	push = +force group user/Daniel Sundberg (dansun)
	pushTag = group user/Daniel Sundberg (dansun)
	pushSignedTag = group user/Daniel Sundberg (dansun)
